@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0px;
  padding: 0px;
}


.main {
  display: flex;
  min-height: 100vh;
}

.right {
  background-color: #03045e;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-logo {
  height: 450px;
}

.body {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.greet {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 6px;
}

.inputs {
  margin-top: 12px;
  width: 50%;
  height: 34px;
  outline: none;
  border: 1px solid #03045e;
  padding: 8px 12px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
}

.btn {
  margin-top: 10px;
  padding: 8px 12px;
  height: 50px;
  border: 1px solid black;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03045e;
  border-radius: 8px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
}
.bold{
  font-weight: 500;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
}

.help,
.info {
  width: 90%;
  margin-top: 6px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.reg {
  margin-left: 4px;
  font-weight: 500;
  color: purple;
  cursor: pointer;
}

.bottom {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgba(0,0,0,0.6);
  margin-top: 12px;
}

.head {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.m {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.details {
  padding: 4px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 764px) {
  .all,
  .main {
    flex-direction: column-reverse;
  }

  .right {
    width: 100%;
    background-color: transparent;
    min-height: 35vh;
  }

  .auth-logo {
    height: 180px;
  }

  .left {
    width: 100%;
    min-height: 65vh;
    justify-content: center;
  }

  .body,
  .m {
    width: 80%;
  }

  .inputs,
  .btn,
  .info,
  .help {
    width: 100%;
  }
}
